/* General styles
------------------------------------------------------------------ */

* {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f6f5f2;
}

a {
  color: black;
}

a:hover,
a:active {
  color: rgb(88, 72, 72);
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

h1 {
  margin-bottom: 30px;
}

label {
  display: block;
}

/* Header styles
------------------------------------------------------------------ */

#wrap {
  background-color: #d4c6af;
  height: 100px;
}
#header {
  height: 70px;
}

#header .logo {
  font-size: 2.2rem;
  line-height: 70px;
  font-family: karla;
}

@media (max-width: 768px) {
  #header {
    height: 40px;
  }

  #header .logo {
    font-size: 2.2rem;
    line-height: 70px;
    font-family: karla;
  }
}

#nav {
  height: 40px;
  padding-top: 30px;
}

#menu-navbar {
  list-style: none; /* Ta bort punkter från listan */
  margin: 0;
  padding: 0;
  display: flex; /* Gör så att länkarna ligger på rad */
  justify-content: flex-end; /* Justera menyn till höger */
  gap: 2rem; /* Mellanrum mellan länkar */
}

#menu-navbar > li {
  line-height: 40px;
  list-style: none;
  margin-right: 10px;
  padding: 0 15px;
  text-decoration: none;
  font-family: karla;
  font-size: 1.3rem;
}

#menu-navbar > li.current-menu-item {
  background-color: #f6f5f2;
  border-radius: 5px;
}

#meny-navbar > li > a {
  padding: 0 15px;
  display: block;
}

a:link {
  text-decoration: none;
}

#menu-navbar li a:hover {
  color: darkred;
  border-radius: 5px;
}

@media (max-width: 768px) {
  #nav {
    display: none;
    height: auto;
  }

  #nav .menu {
    margin: 0 -15px;
  }

  #nav .menu > li {
    float: none;
    width: 100%;
  }
}

/* Main styles
------------------------------------------------------------------ */

/* BLOGG
------------------------------------------------------------------ */

.blog-post {
  margin: 0 auto;
}

article {
  background-color: #d4c6af93;
  border: solid 1px #ccc;
  padding: 20px;
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

article + article {
  margin-top: 30px;
}

article img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

article .title {
  margin-bottom: 10px;
}

.meta-data {
  display: flex;
  flex-wrap: wrap; /* Gör att det radbryts snyggt om det blir för långt */
  gap: 1rem; /* Avstånd mellan <li> */
  list-style: none; /* Ta bort prickarna */
  padding: 0;
  margin: 0;
}

.meta-data li {
  display: flex;
  align-items: center; /* Justera ikon och text snyggt på samma rad */
  gap: 0.3rem; /* Avstånd mellan ikon och text */
}

/* finns både i bloggen men också på tavlor */
.wp-thumbnail {
  margin-top: 1rem;
  width: 150px;
  height: auto;
}



/*------------------------------------------Tavel arkiv */

.tavlor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

}

.tavlor-wrapper {
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tavlor-wrapper article {
  margin: 20px;
  background-color: #d4c6af93;
}


article img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

article .title {
  margin-bottom: 10px;
}

.meta-data {
  display: flex;
  flex-wrap: wrap; /* Gör att det radbryts snyggt om det blir för långt */
  gap: 1rem; /* Avstånd mellan <li> */
  list-style: none; /* Ta bort prickarna */
  padding: 0;
  margin: 0;
}

.meta-data li {
  display: flex;
  align-items: center; /* Justera ikon och text snyggt på samma rad */
  gap: 0.3rem; /* Avstånd mellan ikon och text */
}
.wp-thumbnail {
  margin-top: 1rem;
  width: 150px;
  height: auto;
}

#button-bottom{
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
 }



/* Tavla arkiv */



/*------------------------------------------Single Tavla */
 .button-wrapper{
  margin: 0 auto;
  display: flex;
  margin: 10px;
  width: 100%;
  justify-content: center;
 }

 #button {
 font-family: Abyssinica SIL;
 }


.tavla-wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;

}

#section-left {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#section-right {
  width: 50%;
  height: 50vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
 justify-content: center;
  align-items: center;

}

.tavla{
  background-color: #d4c6af93;
  border: solid 1px #ccc;
  padding: 20px;
  position: relative;
  max-width: 90%;
  width: auto;
}

#image {
  width: 100%;
  height: auto;
}

#image img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
#section-right #content{
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid #65635f67  2px;
}
@media (max-width: 600px) {
  .tavla-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #section-left {
    width: 100%;

  }
  #image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: auto;
  }
  #section-right {
    width: 100%;
    box-sizing: border-box;
  }

}
@media (min-width:601px) and (max-width: 800px)
{.tavla-wrapper {
  width: 90%;
}

#section-left {
  width: 50%;
  padding: 1%;
}


#section-right {
  width: 50%;
  padding: 1%;
}

}


/* Tavla

/* ----------------------------------------------------Contact */

.contact-form {
  max-width: 80%;
  margin: 0 auto;
}

/*  */
.side-menu {
  margin: 0;
  padding: 0;
}

.side-menu > li {
  border-bottom: solid 1px #ccc;
  list-style: none;
  padding: 10px 0;
}

.se .pagination {
  margin: 30px 0 0;
  text-align: center;
  width: 100%;
}

.pagination h2 {
  display: none;
}

.pagination > .page-numbers {
  background-color: crimson;
  color: white;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination > .page-numbers.current {
  background-color: white;
  color: crimson;
}

@media (max-width: 768px) {
  .pagination {
    margin-bottom: 30px;
  }
}

/* Footer styles
------------------------------------------------------------------ */

#footer {
  padding: 10px 0;
  background-color: #d4c6af;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  align-items: center;
}

#content {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #585858;
  border-radius: 7px;
  width: 20%; /* Tre kort per rad */
  box-sizing: border-box;
}

.card-image {
  width: 35%;
  height: auto;
  margin-right: 10px;

}
.card-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer h4 {
  margin-top: 20px;
  margin-left: 20px;
}

@media (max-width: 600px) {
  #footer h4 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;

    height: 150px;
  }

  .card-image {
    width: 35%;
    height: 100%;
    margin-bottom: 10px;

  }
  .card-image img {
    width: 90%;
    object-fit: contain;
    display: block;
    height: 90%;
    border-radius: 8px;
  }

  .card-body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.status-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}
